<footer class="site-footer">

  <small class="container footer">

    <span class="copyright">
      &copy; <a href="{{@site.url}}/">{{@site.title}}</a> {{date format="YYYY"}}      
    </span>

    {{#get "pages" filter="featured:true+tag:hash-footercard" limit="1"}}
        {{#foreach pages}}
            {{content}}
        {{/foreach}}
    {{/get}}

    <small class="theme-author">
      A spin on the 
      <a  target="_blank" href="https://github.com/gnimmelf/twt-the-shell-2nd-gig">Ghost Tailwind Theme</a>
      by
      <a  target="_blank" href="http://glimrende.no">Glimrende SA</a>
    </small>

    <small class="ghost">
      Published with <a target="_blank" href="https://ghost.org">Ghost</a>
    </small>

  </small>

</footer>
