<section class="main-navigation">
    <div class="nav-wrapper">
        <nav class="container">
            <a class="site-logo" href="/"><img src="{{@site.logo}}" alt="{{@site.title}} Logo" /></a>
            <a class="site-title" href="/">{{@site.title}}</a>
            
            {{navigation}}
        </nav>
    </div>
</section>