form.svelte-1oi4io6{
  display:flex;
  flex-direction:column;
  align-items:center
}

label.svelte-1oi4io6{
  margin:5px;
  width:80%
}

input[type="text"].svelte-1oi4io6{
  width:90%
}

p.svelte-1oi4io6{
  margin:10px 0px
}
